<div class="container" style="padding-top: 15px; padding-bottom: 15px;">
  <div class="card" style="width: 400px; height: 600px;">
    <div class="card-body bg-light">
      <div class="card-title">
        <h2>
          {{ product.name }}
        </h2>
        <img src="{{ product.imageurl }}" style="width: 200px; height: 200px; padding: 50px">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        <p>
          {{ product.description }}
        </p>
        <p>
          {{ product.price}}
        </p>
        <button type="button" class="btn btn-primary">View Product</button>
      </div>
    </div>
  </div>
</div>