  <div class="product card">
    <div class="card-body nopadding">
      <div class="imagebox">
        <a href="{{ product.link }}">
          <!--
            <img src="{{ product.imageurl }}" style="max-width: 100%; max-height: 100%; padding-bottom: 50px">
          -->
          <img src="https://cdn02.plentymarkets.com/q7p0kwea05gv/item/images/3980/full/24502.png">
        </a>
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      </div>
      <div class="seperatorbox">
      <div class="namebox">
          <a href="{{ product.link }}">
          <h3 style="text-align: center">
            {{ product.name }}
          </h3>
        </a>
        </div>
      <!--
      <div class="descriptionbox">
        <p style="text">
          {{ product.description }}
        </p>
      </div>
      -->
      <div style="margin-bottom: 25px" class="price">
        <h2>
          {{ product.price}}
        </h2>
      </div>
    </div>
      <!--
      <div style="position: absolute">
        <button type="button" class="btn btn-primary">View Product</button>
      </div>
      -->
    </div>
  </div>